<h1 align="center">App Setter API v1 </h1>

<h4 align="center">The App Setter api allows you to create a new appointment or upload past appointments into the database.
   The query's default setting returns json.</h4>

<ol align="center">There are two main API calls.</ol>
	<li align="center">The first returns future appointments(must create new appointment first):
	(API CALL)</li>

    <li align="center"> The second returns previous appointments(must upload csv file)
	(2nd ap call)</li>

