<h1>Welcome#index</h1>
<p><%= link_to 'Create a New Appointment', new_appointment_path %>
</p>


<p><%= link_to 'Upload Appointments', appointment_imports_path %>
</p>

<p><a href="https://app-setter.herokuapp.com/api/v1/appointment_imports">View uploaded appointments api</a></p>
<p><a href="https://app-setter.herokuapp.com/api/v1/appointments">View new appointments api</a></p>(must create a new appointment first)